body {
    background: url("images/background.jpg");
    background-size: cover;
    font-family: 'Mada', sans-serif;
}
.center-strip {
    width: 50%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.63);
    height: 550px;
    border-radius: 19px;
}
.center-strip .logo-name {
    padding: 16px 30px;
    background: #fff;
    border-radius: 19px;
}
.logo-name .logo {
    background: url("images/logo.png");
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    float: left;
}
.logo-name .name {
    padding-top: 20px;
    padding-left: 97px;
    font-family: 'Lobster', cursive;
    font-size: 27px;
}
.content-title {
    text-align: center;
    font-size: 20px;
    margin: 30px 0px;
}

form {
    width: 22%;
    margin: 0 auto;
}
.register {
    padding: 94px 170px;
}
table {
    width: 100%;
}
form.form_shoppinglistname {
        padding-top: 70px;
}