{% extends "base.html" %}
{% block content %}
        </div>
        <div class ='content'>
            <div class="content-title">Shopping Lists</div>
            <table>
                <tr><td>Shopping List Name</td><td>Edit</td><td>Delete</td></tr>
                {% if data %}
                    {% for obj in data %}
                        <tr><td>{{ obj.list_name }}</td><td><a href="#">Edit</a></td><td><a href="#">Delete</a></td></tr>
                    {% endfor %}
                {% endif %}
            </table>
            <form class="form_shoppinglistname" action="/shoppinglist" method="POST">
                <input type="text" name="name" placeholder="Enter Your First Name"><br><br>
                <button type="submit">Create Shopping List</button>
            </form>
        </div>
{% endblock %}
